body
{
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #797979;
}
.container
{
    width: 100%;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'nav nav section section aside aside'
    'nav nav article article aside aside'
    'nav nav footer footer footer footer';
}
.header
{
    width: 100%;
    background-color: #e4f2ff;
    padding: 20px 0px;
    text-align: center;
    vertical-align: center;
    grid-area: header;
}
.navigation
{
    width: 100%;
    background-color: #cedae6;
    padding: 70% 0px;
    text-align: center;
    justify-content: center;
    grid-area: nav;
}
nav
{
}
.section
{
    width: 100%;
    background-color: #ebf0ff;
    padding: 35% 0px;
    text-align: center;
    grid-area: section;
}
.article
{
    width: 100%;
    background-color: #ebfffd;
    padding: 35% 0px;
    text-align: center;
    grid-area: article; 
}
.a-side
{
    width: 100%;
    background-color: #d2edff;
    padding: 80% 0px;
    text-align: center;
    grid-area: aside;
}
.footer
{
    width: 100%;
    background-color: #d2c9eb;
    padding: 5% 0px;
    text-align: center;
    grid-area: footer;
}